.table_form {
    background: rgba(255, 255, 255, 0.34);
}

/* MOVIL - IPHONE X */

@media all and (min-width: 300px) {
    .create-input {
        width: 170px;
    }

    .picker-input {
        height: 32px;
    }

    .table_form {
        height: 480px;
    }

}


/* MEDIUM AND LARGE SCREEN */

@media all and (min-width: 768px) {
    .create-input {
        width: 400px;
    }

    .picker-input {
        height: 33px;
    }

    .table_form {
        height: 460px;
    }

}