/* GENERAL */
.body_login {
    width: 100%;
    background-image: url('../../assets/login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
}

#input {
    border-radius: 30px;
}


.link {
    color: #0199E4;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: underline;
    cursor: pointer;
}


/* MOVIL - IPHONE X */

@media all and (min-width: 300px) {
    .body_login {
        width: 100%;
        background-image: url('../../assets/login-back-mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
        display: flex;
    }    
    .login-container {
        margin-top: 50%;
        margin-left: -0%;
        background-color: rgb(255, 255, 255, 66%);
        border-radius: 40px;
        height: 760px;
    }
    .logo_img {
        padding-top: 25px;
        height: 120px;
    }
    .margin-left {
        margin-left: 0.05px;
    }
}


/* MEDIUM AND LARGE SCREEN */

@media all and (min-width: 768px) {
    .body_login {
        width: 100%;
        background-image: url('../../assets/login.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
        display: flex;
    }
    
    .login-container {
        margin-top: 10%;
        margin-left: 2%;
        background-color: rgb(255, 255, 255, 66%);
        border-radius: 40px;
        height: 440px;
    }


    .logo_img {
        padding-top: 25px;
        height: 120px;
    }

    .margin-left {
        margin-left: 0.05px;
    }

}
